input{
    width: 25%;
    height: 35px;
    margin-top: 25px;
    padding-left: 5px;
    display: inline-block;
}

button{
    margin-top: 25px;
    height: 35px;
    width: 26%;
    background-color:#428bca;
    border: none;
    color: white;
}

h1, p{
    text-align: center;
}

