{% load static %}
<html>
    <head>
        <title>Trello Clone App</title>
        <!--<script src="{% static 'js/main.js' %}"></script>-->
        <script src="{% static 'node_modules/jquery/dist/jquery.js' %}"></script>
        <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.js' %}"></script>
        <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/style_trello.css' %}">
    </head>
    <body>
        <div id="modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                  <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        <div class="page-header bg-warning">
            <h3>{{ user.username }}</h3>
            <a href="{% url 'logout' %}">Logout</a>
            <button class="btn" id="create-board"><span id='add-board'>Create Board</span></button>
        </div>
        <div class="content-container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
    <script>
        'use strict'

        function add_board(){
            $('#create-board').click(function(){
                console.log('click')
                $('#modal').modal('show');
            });

            $('#modal').on('shown.bs.modal', function () {
                console.log('hello');
                var modal = $(this);
                $.ajax({
                    'method': 'get',
                    'url': '/create-board/'
                }).done(function(response){
                    modal.find('.modal-body').html(response)
                    createBoard();
                });
            });



            function createBoard() {
                $('#board-form').on('submit', function(e){
                console.log('submit');
                e.preventDefault();

                $.ajax({
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    method: 'POST'
                }).done(function(res){
                    //$('board').html(res)
                    $('#modal').modal('hide');
                    window.location('http://127.0.0.1:8000/board/')
                }).fail(function(err){
                    alert(err)

                })
            });

            }

            $('#desbtn').click(function(){
                alert("Create Board!")
            });
        }

        $(document).ready(function (){
            add_board()
        });
    </script>
</html>

